<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tss.orderService.mapper.GoodsMapper">

    <insert id="add" parameterType="com.tss.orderService.entity.Goods">
        insert into tss.tb_goods(goods_id,goods_type,numb,weight,goodsvol,GOODSDESC)
        values(#{goodsId},#{goodsType},#{numb},#{weight},#{goodsVol},#{goodsDesp,javaType=String,jdbcType=VARCHAR})
    </insert>

</mapper>